@font-face {
    font-family: 'FontAwesome';
    font-style: italic;
    font-weight: normal;
    font-display: auto;
    src: url(./fonts/fontawesome-webfont.eot);
    src: url(./fonts/fontawesome-webfont.eot?#iefix) format("embedded-opentype"), url(./fonts/fontawesome-webfont.woff2) format("woff2"), url(./fonts/fontawesome-webfont.woff) format("woff"), url(./fonts/fontawesome-webfont.ttf) format("truetype"), url(./fonts/fontawesome-webfont.svg#fontawesome) format("svg");
}
  
.fa-bars:before {
    font-family: FontAwesome;
    content: "\f0c9"; 
}
  
* {
    box-sizing: border-box;
  }
  
/* Add a gray background color with some padding */
body {
    font-family: Arial;
    background: #f1f1f1;
    margin: 0px;
    padding: 0px;
    padding-bottom: 50px;
    background-image: url("/images/adi.jpg");
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.login-form {
    width: 600px;
    margin: 0 auto;
    font-family: Tahoma, Geneva, sans-serif;
    padding: 20px;
    background-color: rgba(0, 0, 0 , 0.4);
    margin-top: 20px;
    border-radius: 10px;
}
.login-form h1 {
    text-align: center;
    color: #f3f3f3;
    font-size: 24px;
    padding: 0px 0 20px 0;
}
.login-form input[name="title"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    box-sizing:border-box;
    border-radius: 10px;
}
.login-form textarea {
    width: 100%;
    height: 600px;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    resize: none;
    font-family: Arial;
    box-sizing:border-box;
    border-radius: 10px;
}
.login-form input[type="submit"],
.login-form input[type="file"]{
    width: 100%;
    padding: 15px;
    margin: 5px;
    background-color: #535b63;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    border-radius: 10px;
}
.condition {
    text-align: center;
    color: #ff2c2c;
    font-size: 16px;
    padding-bottom: 10px;
}

.topnav {
    overflow: hidden;
    position: relative;
    width: 100%;
    background-color: #333;
}
  
.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
.topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .topnav .icon {
    display: none;
}
  
@media screen and (max-width: 600px) {
    .topnav a {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
}
  
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}