body {
    background-image: url("/images/adi.jpg");
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-top: 50px;
}
.login-form {
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    font-family: Tahoma, Geneva, sans-serif;
}
.login-form h1 {
    text-align: center;
    color: #f7f7f7;
    font-size: 24px;
    padding: 0px 0 20px 0;
    margin-bottom: 0px;
}
.condition {
    text-align: center;
    color: #ff2c2c;
    font-size: 16px;
    padding-bottom: 10px;
}
.login-form input[type="password"],
.login-form input[type="text"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    box-sizing:border-box;
    border-radius: 10px;
}
.login-form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 10px;
    background-color: #535b63;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}
.login-form input[type="submit"]:hover {
  background-color: #4CAF50;
}
