<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Login </title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/login.css" type="text/css">
	</head>
	<body>
		<div class="login-form">
			<h1>Login Form</h1>
			<form action="users/login" method="POST" >
				<div style="display: <%=condition%>;" class="condition">You have entered wrong credentials</div>
				<input type="text" name="email" placeholder="Email" value="<%= email %>" required >
				<input type="password" name="password" placeholder="Password" required>
				<input type="submit">
			</form>
			<form action="users/register" method="GET">
				<input type="submit" value="Register">
			</form>
		</div>
	</body>
</html>